---
import BaseLayout from '../../layouts/BaseLayout.astro';

import GlassButton from "../../components/Glass-btn.astro";

import { getLangFromUrl, useTranslations } from '../../../i18n/utils';
import { getLocaleStaticPaths } from '../../../i18n/config';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

export const getStaticPaths = getLocaleStaticPaths;

const pageTitle = t('pageTitle')
---

<BaseLayout pageTitle={pageTitle} lang={lang}>
  
  <div class="wrap">
    <h1 class="center">{t('homePage.h1')}</h1>
    <p class="muted center">{t('homePage.h1.p')}</p>
  </div>

  <div class="wrap center">
    <GlassButton as="a" 
      href={`/${lang}/projects`}
      text={t('homePage.GlassButtonText')}
    />
  </div>
  
  <div class="wrap">
    <h2>{t('homePage.About')}</h2>
    <p class="soft-p">
      {t('homePage.About.p1')}
      {t('homePage.About.p2')} <br><br>
      {t('homePage.About.p3')} <br><br><br><br>
    </p>
  </div>
</BaseLayout>