---
import BaseLayout from '../../layouts/BaseLayout.astro';

import GlassButton from "@components/ui/GlassButton.astro";

import { getLangFromUrl, useTranslations, getStaticLocalePaths } from '@i18n/utils';

export const getStaticPaths = getStaticLocalePaths;

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const pageTitle = t('pageTitle')
---

<BaseLayout pageTitle={pageTitle} lang={lang}>
  
  <div class="wrap">
    <h1 class="center">{t('homePage.h1')}</h1>
    <p class="muted center">{t('homePage.h1.p')}</p>
  </div>

  <div class="wrap center">
    <GlassButton as="a"
      href={`/${lang}/projects`}
      text={t('homePage.GlassButtonText')}
    />
  </div>
  
  <div class="wrap">
    <h2>{t('homePage.About')}</h2>
    <p class="soft-p">{t('homePage.About.p1')} {t('homePage.About.p2')}</p>
    <p class="soft-p">{t('homePage.About.p3')}</p>
  </div>
</BaseLayout>