@import url('https://fonts.cdnfonts.com/css/cascadia-code');

:root {
  --primary-color: #6699ff;
  --secondary-color: #aaaaaa;
  --accent-color: #957324;
  --bg-color: #000000;
  --surface-color: #000000;
  --font-color: #eaeaea;
  --heading-color: #ffffff;
  --border-color: rgba(255, 255, 255, 0.15);
  --glass-background: rgba(20, 20, 20, 0.35);

}
[data-theme="dark"] {
  --primary-color: #0066ff;
  --secondary-color: #5a5a5a;
  --accent-color: #717171;
  --bg-color: #ffffff;
  --surface-color: #f5f5f5;
  --font-color: #1a1a1a;
  --heading-color: #000000;
  --border-color: #cccccc;
}
[data-theme="solarized-dark"] {
  --primary-color: #268bd2;
  --secondary-color: #2aa198;
  --accent-color: #403b50;
  --bg-color: #002b36;
  --surface-color: #073642;
  --font-color: #93a1a1;
  --heading-color: #eee8d5;
  --border-color: #586e75;
}


html {
  font-family: "Cascadia Code", Consolas, monospace;
  letter-spacing: 0.01em;
  margin: 0;
}

body {
  background-color: var(--bg-color);
  color: var(--font-color);
  max-width: 90%;
  height: 40vh;
  margin: 0 auto;
  font-size: 18px;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.wrap { 
  max-width: 750px;
  margin: 0 auto; 
  padding: 16px 20px; 
}

.muted {
  color: var(--secondary-color);
}

.center {
  text-align: center;
}

.soft-p {
  opacity: 0.8; 
  letter-spacing: 0.03em;
  max-width: 800px;
  align-items: center;
  
}

.spacer {
  height: 100%;
}

h1 {
  font-size: 40px;
  letter-spacing: 0px;
  border: #457d8b;
  border-width: 2px;
  border-radius: 1px;
  border-color: #0066ff;
}
