---
import "../styles/global.css";
import ThemeSwitcher from "../components/ThemeSwitcher.astro";
import Navbar from "../components/Navbar.astro";
import Nvim from "../components/Nvim.astro";
import GlassButton from "../components/Glass-btn.astro";
import Background3D from "../components/Background3D.astro";
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer.astro";

const pageTitle = "~/portfolio"
const links = [
  { href: "/", label: "Home" },
  { href: "/projects", label: "Projects" },
  { href: "/blog", label: "Blog" },
  { href: "/contact", label: "Contact" },
];
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
    <Navbar {links} />
		<Background3D/>
		<!-- <ThemeSwitcher/> -->
		<!-- <Nvim/> -->
    
    <div class="wrap">
      <h1 class="center">Clean Code. Systems. Graphics.</h1>
      <p class="muted center">I build fast, minimal software and occasional pretty pixels.</p>
    </div>

    <div class="wrap center">
      <GlassButton as="a" href={links[1].href} text="View Projects"/>
    </div>

    <div class="wrap">
      <h2>About</h2>
      <p class="soft-p">
Every few months I wonder if I even like programming, or if I just hate not understanding things I’ll never use.
Then I spend four hours debugging why my latest wayland config got nuked. <br> <br>
Maybe that’s what passion is. Or maybe it’s brain damage. Hard to say.  <br> <br> <br> <br>

The rest of the website is in development, I'll push it in a few days. <br>

</p>
    </div>

    <!-- <div class="wrap">
      <button id="test">Test</button>
    </div> -->
    <!-- <Contact/> -->
     <div class="spacer"></div>
    <Footer/>
	</body>
</html>

<script>

  // window.addEventListener('DOMContentLoaded', () => {

  //   const btn = document.querySelector("#test");
  //   btn?.addEventListener('click', () => {
  //     console.log("Click");
  //     // window.Background3D.setColor('#00ffff');
  //     // window.Background3D?.setSpeedx(window.Background3D?.getSpeedx() + 0.01);

  //   })
  // });

</script>