---
import "../styles/global.css";
import ThemeSwitcher from "../components/ThemeSwitcher.astro";
import Navbar from "../components/Navbar.astro";
import Nvim from "../components/Nvim.astro";
import GlassButton from "../components/Glass-btn.astro";

const pageTitle = "mbudak21.com"
const links = [
  { href: "/", label: "Home" },
  { href: "/projects", label: "Projects" },
  { href: "/blog", label: "Blog" },
  { href: "/contact", label: "Contact" },
];
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
    <Navbar {links} />
		<canvas id="bg-canvas"></canvas>
		<!-- <ThemeSwitcher/> -->
		<!-- <Nvim/> -->
    
    <div class="wrap">
      <h1 class="center">Clean Code. Systems. Graphics.</h1>
      <p class="muted center">I build fast, minimal software and occasional pretty pixels.</p>
    </div>

    <div class="wrap center">
      <GlassButton as="a" href={links[1].href} text="View Projects"/>
    </div>

    <div class="wrap">
      <h2>About</h2>
      <p class="soft-p"> 
        I'm Murat, and I absolutely love pizza. <br>
        <!-- And this website, what started as a `Hire Me!` showcase is one of the ways I want to express myself. <br>
        So if you are here to be impressed, well, I'm here to deliver. -->
      </p>
    </div>
    
	</body>
</html>